#
#*.exe
*.pdf
*.xls
*.crf
*.d
*.dep
*.htm
*.lnp
*.out
*.Administrator
*.Lenovo
#*.bak
#*.txt
*.apk
*.tmp
*.omf
*.ini
*.csv
*.prf
*.sh
*.o
*.axf
*.bin
*.log
*.map
!bk3435_ble_bim.bin
!bk3435_ble_stack.bin