#
#*.exe
*.pdf
*.xls
*.crf
*.d
*.dep
*.htm
*.lnp
*.out
*.Administrator
#*.bak
#*.txt
*.apk
*.tmp
*.omf
#*.ini
*.csv
*.prf
*.sh
*.o
#*.axf
app.axf
app.hex
*.bin
*.log
*.map
*.scvd
*.disasm
*.trace
*.lst
#*.bat